/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a {
  text-decoration: none;
  color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Aladin', sans-serif;
  font-size: 18px;
}

button {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #B0BEC5;
  font-family: 'Aladin', sans-serif;
}


input {
  padding: 10px;
  border-radius: 2px;
  margin-right: 15px;
  border: 1px solid #B0BEC5;
  opacity: .8;
  font-family: 'Aladin', sans-serif;
}

label {
  margin-right: 15px;
}


p {
  margin: 0px;
  padding: 10px;
}

span {
    padding-left: 4%;
    padding-bottom: 1%
}

/*.modal-dialog:before {*/
    /*background-color: black !important;*/
    /*opacity: .8 !important;*/
    /*height: 100vh !important;*/
    /*width: 100vw !important;*/
    /*filter: blur(1px) !important;*/
/*}*/

.mapboxgl-map {
    background-color: black;

}

.mapboxgl-ctrl mapboxgl-ctrl-attrib {
    color: black !important;
    text-decoration: none !important;

}
.modal-dialog  {
    background-color: black !important;
    opacity: .9 !important;
    text-decoration: black !important;
    margin-top: 25% !important;
}

.navbar-header {
    margin-left: .25%;
}

.navbar-collapse {
    margin-left: .25%;

}



.trip-form-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  padding: 5%;
  background-color: black;
  opacity: .98;
}




/* MARKER  */


.station:before {
    content: ' ';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #18FFFF;
    border-radius: 10px;
    margin: 0 8px;
    animation-name: shine;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

.station {
    border-radius: 20px;
    padding-right: 12px;
    margin: -12px;
    color: transparent;
    line-height: 24px;
    font-size: 13px;
    white-space: nowrap;

}

.station span {
    display: none;
}

.station:hover {
    background: rgba(255,255,255,0.8);
    color: black;

}

.station:hover span {
    display: flex;
    flex-direction: column;

}

.scrolling {
    display: none !important;
}

@keyframes shine {
    0%, 40% {
        box-shadow: 0px 0px 0px 0px yellow;
    }

    40% {
        box-shadow: 0px 0px 0px 0px #18FFFF;
    }

    100% {
        box-shadow: 0px 0px 0px 70px rgba(52, 254, 254, 0);
    }
}